:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}
* {
  outline: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  padding-left: 0;
}
p {
  color: var(--smokywhite);
}
label {
  color: var(--text-accent-color);
}
body {
  background: url("../assets/background.png") center/cover no-repeat;
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px; /* 너비가 1000px 이상 넘어가면 더이상 100%가 되지 않도록! */
  height: 100%;
}

.banner {
  text-align: center;
  background: var(--bg-main-color);
  border-bottom: 1px solid var(--bg-accent-color);
}

.banner__title {
  margin: 20px;
  color: var(--accent-color);
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button {
  margin: 0.1em 0.2em;
  padding: 1em 3em;
  text-align: center;
  user-select: none; /* 사용자가 텍스트 위에서 드래깅을 할 수 없도록 */
  text-transform: uppercase; /* 대문자 변경 */
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
}

.document {
  height: 100%;
  overflow-y: auto;
  background-color: var(--document-bg-color);
  /* 스크롤바 커스터마이징 Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}
.document::-webkit-scrollbar {
  /* 스크롤바 커스터마이징 Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}
.document::-webkit-scrollbar-thumb {
  /* 스크롤바 커스터마이징 Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  text-align: center;
  background: var(--bg-main-color);
  border-top: 1px solid var(--border-color);
}
